<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'images/fav_icon.png' %}" rel="shortcut icon">
    <title>Pragati - Serve the needy</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/custom_css.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto|Crimson+Text" rel="stylesheet">
    <!--@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto');-->


    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }

        .back-lite {
          width: 60%;
          background: #0e3168;
          left: 2%;
          float: left;
          transform: skewX(-18deg);
          overflow: hidden;
          margin: -20px;
        }

        .anti-transform {
          transform: skewX(18deg);
          padding-right: 100px;
        }


    </style>

</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="../"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="support.html"><i class="material-icons">filter_vintage</i>Volunteer Now</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="../about"><i class="material-icons">book</i>About us</a></li>
        <li><a class="waves-effect" href="../contact"><i class="material-icons">call</i>Contact us</a></li>
    </ul>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="../" class="brand-logo"><img src="{% static 'images/brand_icon.png' %}" style="height: 80px; width:220px;" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../">Home</a></li>
                <li><a href="#">Volunteer Now</a></li>
                <li><a href="../contact">Contact us</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row parallax-window pad pad-down" data-parallax="scroll" data-image-src="{% static 'images/1125.jpg' %}">
        <div class="col-md-12 col-sm-12 text-center">
            <h1 class="head-banner-text light-green-text text-accent-3 small-pad">Pragati | A needy's new hope</h1>
            <h5 class="col s12 light banner-text text-white">Pragati is an initiative to facilitate NGOs serve the needy effectively and efficiently. <br /> Now, use your phone to order food for the needy with no cost.<br />Take a dive into the company's detail.
            </h5>
        </div>
        <div class="col-md-12 col-sm-12 text-center padmini">
            <a href="signin.html" id="download-button" class="btn-large waves-effect waves-light amber darken-3">Know Us</a>
        </div>
        <br><br>
    </div>

    <div class="row pad-down">
      <div class="col-md-8 col-sm-6 back-lite pad-down text-center">
        <div class="row text-center padmini anti-transform">
          <h5 class="col light head-banner-text amber-text">
            Why love Pragati ?
          </h5><br /><br />
          <h5 class="col light text-white">
            Pragati is an intuitive app that unites our richer and poor class of society together.
            It is an application aimed to erradicate food crisis in society and in general, throughout
            the country by bringing closer the richer class to empathize with the poor and thereby
            donating additional food to the needy to make their day great.
          </h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="{% static 'images/2235.png' %}" style="width: 50%; height: 100%; right: -10%;"/>
      </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    </body>

    </html>
